@import url(./demonster.css);

body {
	margin: 0;
	font-family: "Century Gothic";
	line-height: 2;
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
}

@media (min-width: 650px) {
	body {
		display: grid;
		grid-template-columns: 1fr 50%;
	}
}

*, *::after, *::before {
	box-sizing: border-box;
}

.colors__list {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}
.colors__item {
	display: block;
	cursor: pointer;
	position: relative;
}
.colors__item input {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}
.colors__item svg {
	position: absolute;
	display: block;
	opacity: 0;
}